@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 35px;
}

.iconblue {
    color: #4295E4;
}

.navbar {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #EAEAEA;
    box-shadow: 1px 3px 10px 5px #eaeaea83;
}

.navbar_container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky !important;
    top: 0 auto;
    z-index: 100;
}

.navbar_container .navbar_containerbox_1 {
    display: flex;
    align-items: center;
    gap: 70px;
}

.navbar_container .navbar_containerbox_2 {
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar_container .navbar_containerbox_2 div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar_container .navbar_containerbox_1 .navbar_box2 {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 20px;
    font-weight: 300;
}

.navbar_modal {
    position: absolute;
    width: 790px;
    height: 444px;
    gap: 0px;
    opacity: 0px;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    background-color: #ffffff;
    border-radius: 10px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 4px 18px -2px #0000001A;
}

.navbar_modal .navbar_modal_1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #454F5B;
    font-size: 16px;
    font-weight: 400;
}

.navbar_modal .navbar_modal_1 p {
    padding: 5px 0;
}

.homecontainer {
    width: 1200px;
    margin: 0 auto;
}

.homesection_1_carusel {
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.homesection_1_carusel .katta_karusel {
    display: flex !important;
    align-items: center;
    justify-content: space-evenly;
}

.homesection_1_carusel .katta_karusel img {
    width: 450px;
}

.homesection_1_carusel .katta_karusel .katta_karusel_box2 {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #161C24;
}

.homesection_1_carusel .katta_karusel .katta_karusel_box2 .fulname {
    font-size: 44px;
    font-weight: 500;
    line-height: 50px;
}

.homesection_1_carusel .katta_karusel .katta_karusel_box2 .home_deskiription {
    width: 300px;
    line-height: 22px;
}



.cardcontainercarusel {
    width: 1200px;
    margin: 0 auto;
}

.homecontainercaruselparent {
    width: 288px !important;
    height: 476px !important;
}

.homecontainercaruselparent .cardimg {
    width: 388px !important;
    height: 320px !important;
    margin-top: 50px;
}

.homecontainercaruselparent .cardapsalut {
    position: absolute;
    top: 2px !important;
}

.homecontainercaruselparent .cardapsalut .cardapsalut_flex {
    width: 288px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.homecontainercaruselparent .cardapsalut .cardapsalut_flex .card_padarka {
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 6px 0;
    background-color: #EAEAEA;
}

.homecontainercaruselparent .cardapsalut .cardapsalut_flex .card_padarka .padarka {
    color: #4295E4;
    font-size: 25px;
    border-radius: 4px;
}

.homecontainercaruselparent .cardapsalut .cardapsalut_flex .card_sale {
    width: 100px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 6px 0;
    background-color: #EAEAEA;
}

.homecontainercaruselparent .cardapsalut .cardapsalut_flex .card_sale .sale_discaunt {
    margin-top: 17px;
    color: #4295E4;
    font-size: 30px;
}

.homecontainercaruselparent .cardapsalut .cardapsalut_flex .card_sale .prise_apsalud {
    position: relative;
    bottom: 30px;
    font-size: 12px;
    right: -5px;
    transform: rotate(-44deg);
    color: white;
}

.homecontainercaruselparent .card_p_padding {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    height: 105px;
    background-color: #EAEAEA;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.homecontainercaruselparent .card_p_padding p {
    color: #454F5B;
}

.homecontainercaruselparent .card_p_padding .price {
    display: flex;
    align-items: center;
    gap: 15px;
}

.homecontainercaruselparent .card_p_padding .price h1 {
    font-size: 25px;
    font-weight: 400;
    line-height: .87px;
    letter-spacing: 0.7px;
}

.homecontainercaruselparent .card_p_padding .price del {
    font-size: 23px;
    font-weight: 200;
    color: #454F5B;
}

.right {
    color: #161C24;
    font-size: 40px;
}

.right:hover {
    color: #C4CDD5;
}

.info_container {
    width: 1200px;
    margin: 0 auto;
    color: #161C24;
}

.info_container .info_c_tepa {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.info_container .info_c_tepa .info_c_b1 {
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info_container .info_c_tepa .info_c_b1 .cardi_rasim1 img {
    width: 550px;
}

.info_container .info_c_tepa .info_c_b1 .cardi_rasim2 {
    display: flex;
    justify-content: space-between;
}

.info_container .info_c_tepa .info_c_b1 .cardi_rasim2 img {
    width: 130px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
}

.info_container .info_c_tepa .info_c_b1 .cardi_rasim2 img:hover {
    border: 1px solid #adaaaa;
}

.info_container .info_c_tepa .info_c_b2 {
    width: 630px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info_container .info_c_tepa .info_c_b2 .b1 {
    display: flex;
    gap: 20px;
}

.info_container .info_c_tepa .info_c_b2 .b2 {
    font-size: 30px;
    font-weight: 500;
}

.info_container .info_c_tepa .info_c_b2 .b4 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info_container .info_c_tepa .info_c_b2 .b5 {
    margin-top: 15px;
    display: flex;
    gap: 100px;
}

.info_container .info_c_tepa .info_c_b2 .b5 div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info_container .info_c_tepa .info_c_b2 .b6 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info_container .info_c_tepa .info_c_b2 .b6 del {
    color: #adaaaa;
    font-size: 30px;
    font-weight: 200;
}

.infoselect {
    width: 270px;
    padding: 7px 13px;
    background-color: white;
    border: 1px solid #C4CDD5;
    position: relative;
}

.info_container .info_c_tepa .info_c_b2 .b7 {
    display: flex;
    gap: 60px;
}

.globalbutton {
    width: 288px;
    background-color: #4295E4;
    color: white;
    padding: 10px 0;
}

.cardinfolike {
    display: flex;
    align-items: center;
    gap: 20px;

}

.info_container .info_c_tepa .info_c_b2 .b8 h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 20px;
}

.info_container .info_c_tepa .info_c_b2 .b8 p {
    background-color: #F6F7F9;
    padding: 20px;
}

.pastcardinfo {
    display: flex;
    gap: 30px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 20px;
}

.pastcardinfo a {
    padding: 16px 0;
}

.xaraktercontainer {
    display: flex;
    justify-content: space-between;
}

.xaraktercontainer .xarakter_b1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.xaraktercontainer .xarakter_b1 .div {
    width: 550px;
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
    padding: 16px 12px;
    justify-content: space-between;
}

.xaraktercontainer .xarakter_b1 .div p {
    width: 250px;
}

.xaraktercontainer .xarakter_b1 .div1 {
    width: 550px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 16px 12px;
    justify-content: space-between;
}

.xaraktercontainer .xarakter_b1 .div1 p {
    width: 250px;
}

.opisanacontainer {
    display: flex;
}

.opisanacontainer .opisana_box1 {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.opisanacontainer .opisana_box2 img {
    width: 500px;
    height: 650px;
}

.sidebar {
    width: 300px;
    height: 100vh;
    background-color: #ffffff;
    color: #000000;
    position: fixed;
    top: 0;
    left: -400px;
    transition: left 0.4s ease;
    z-index: 1000;
    box-shadow: -50px 1px 30px 40px gray;
}

.sidebar.open {
    left: 0;
}

.toggle-button {
    display: none;
    font-size: 25px;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    padding: 10px;
    border-bottom: 1px solid #55555542;
}

.menu li a {
    color: #000000;
    text-decoration: none;
    display: block;
}

.menu li:hover {
    background-color: #55555517;
}

.navbartokin:hover {
    background-color: #55555517 !important;
}

.katalog {
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

.katalog2 {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.catalogcard {
    width: 870px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 60px;
    row-gap: 20px;
}

.catalogimg {
    width: 250px;
    position: relative;
    top: 51px;
}

.catalogcartcontainer {
    width: 250px;
}

.apsalutcatalog {
    position: relative;
    bottom: 240px;
}

.nalichne_sale {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.catalog_card_name {
    background-color: #454f5b1e;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.podarka {
    padding: 0 20px;
}

.filterkatalog {
    width: 300px !important;
    height: fit-content;
    padding: 24px;
    border: 1px solid #C4CDD5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #161C24;
}

.filterboshi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.filterboshi .filterboshi1 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.filterboshi .filterboshi1 button {
    display: flex;
    align-items: center;
    gap: 7px;
    border: 1px solid white;
    padding: 8px 20px;
}

.filterboshi .filterboshi1 button:hover {
    border: 1px solid #ADD7FF;
}

.filterupflex {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
}

.filterpricediskaunt {
    border: 1px solid #C4CDD5;
    padding: 5px 10px;
}

.basketlenght {
    position: relative;
    background-color: #4295E4;
    padding: 0 6px;
    color: white;
    border-radius: 3px;
    right: 6px;
}

.caunter {
    display: flex;
    align-items: center;
}

.caunterlar {
    padding: 0 10px;
    background-color: #ffffff;
    font-size: 22px;
    color: #181818;
    cursor: pointer;
    user-select: none;
}

.caunterlar:hover {
    color: #C4CDD5;
}

.basketcontainer {
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.basketcardparent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.basketcard {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

.basketcard_flex {
    display: flex;
    width: 400px;
    align-items: center;
}

.imgbasket {
    width: 136px;
}

.basketnamevscaunt {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.basketdeleteprice {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.buttonbasket1 {
    background-color: #4295E4;
    color: white;
    padding: 10px 60px;
}

.basketbutton {
    width: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.basketbutton2 {
    width: 550px;
    margin: 0 auto;
    margin-top: 20px;
}

.buttonbasket2 {
    border: 1px solid #ADD7FF;
    padding: 10px 40px;
}

.itagobasket {
    font-size: 25px;
    font-weight: 500;
}

.buttonkatalog1 {
    border: 1px solid #4295E4;
    margin: 10px;
    padding: 5px 40px;
    transition: all 1s;
}

.buttonkatalog1:hover {
    background-color: #4295E4;
    color: white;
}

.likecontainer {
    width: 1200px !important;
    margin: 0 auto;
}

.basketcardparent2 {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.zakascontainer {
    width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
}

.zakascontent {
    width: 700px;
    border: 1px solid #EAEAEA;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.namelarinputflex {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.namelarinputflex label {
    font-size: 20px;
}

.namelarinputflex .zakasinput {
    width: 313px;
    border: 1px solid #4295E433;
    padding: 10px 20px;
}

.flexlarinputaj {
    display: flex;
    gap: 20px;
}

.namelarinputflex1 {
    display: flex;
    gap: 8px;
    font-size: 20px;
}

.namelarinputflex1 input {
    width: 16px;
}

.selectcar {
    width: 250px;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 17px;
    border: 1px solid #4295E433;
    margin: 10px 0 10px 10px;
}

.selectcar2 {
    width: 220px;
    background-color: #4295E40A;
    color: rgb(0, 0, 0);
    outline: none;

}

.zakascardk {
    display: flex;
    justify-content: space-between;
}

.zakascard {
    width: 470px;
    height: fit-content;
    border: 1px solid #EAEAEA;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 25px 30px;
}

.basketcard_flex2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bordertop {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    padding: 20px 0;
}

.pagination {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.pagination button:hover {
    background-color: #f0f0f0;
    color: #4295E4;
}

.pagination button.active {
    background-color: #ddd;
    border-color: #ccc;
    cursor: default;
}

.pagination button:disabled {
    background-color: #eee;
    cursor: default;
    opacity: 0.6;
}

.price-range-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.price-range-buttons button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.price-range-buttons button:hover {
    background-color: #f0f0f0;
}

.input_labelchex {
    width: 230px;
    display: flex;
    align-items: first baseline;
    gap: 5px;
    margin-left: 20px;
}

.input_labelchex label {
    width: 200px !important;
}

.input_labelchex input {
    position: relative;
    top: 1px;
}

.categoriyinputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* mediya 1250px */

@media screen and (max-width: 1250px) {
    .navbar {
        padding: 15px 0;
    }

    .navbar_container {
        width: 900px;
    }

    .navbar_container .navbar_containerbox_1 {
        gap: 30px;
    }

    .navbar_container .navbar_containerbox_2 {
        gap: 15px;
    }

    .navbar_container .navbar_containerbox_2 div {
        gap: 5px;
        font-size: 18px;
    }

    .navbar_container .navbar_containerbox_1 .navbar_box2 {
        gap: 30px;
        font-size: 18px;
    }

    /* home */

    .homecontainer {
        width: 900px;
        margin: 0 auto;
    }

    .homesection_1_carusel {
        width: 900px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .homesection_1_carusel .katta_karusel {
        gap: 20px;
    }

    .homesection_1_carusel .katta_karusel img {
        width: 400px;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 {
        width: 480px;
        height: 395px;
        gap: 24px !important;
        justify-content: start;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 .fulname {
        font-size: 34px;
        font-weight: 500;
        line-height: 35px;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 .home_deskiription {
        width: 300px;
        line-height: 22px;
    }

    /* card carusel */
    .cardcontainercarusel {
        width: 900px;
    }

    .homecontainercaruselparent {
        width: 258px !important;
        height: 410px !important;
    }

    .homecontainercaruselparent .cardimg {
        width: 258px !important;
        height: 250px !important;
        margin-top: 50px;
    }

    .homecontainercaruselparent .cardapsalut {
        top: 2px !important;
    }

    .homecontainercaruselparent .cardapsalut .cardapsalut_flex {
        width: 258px;
    }

    .homecontainercaruselparent .cardapsalut .cardapsalut_flex .card_sale {
        width: 115px;
    }

    .homecontainercaruselparent .card_p_padding {
        padding: 5px 10px;
        gap: 5px;
        height: 105px;
    }

    .homecontainercaruselparent .card_p_padding .price {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .homecontainercaruselparent .card_p_padding .price h1 {
        font-size: 20px;
    }

    .homecontainercaruselparent .card_p_padding .price del {
        font-size: 18px;
    }

    .card_h1 {
        font-size: 23px;
    }

    .carusel_right {
        position: relative;
        right: 10px;
    }

    .carusel_right button {
        font-size: 25px;
    }


    .b_nalichne {
        font-size: 15px !important;
    }

    .katalog {
        width: 900px;
        margin-top: 20px;
    }

    .catalogcard {
        width: 570px;
        justify-content: center;
        gap: 30px;
    }

    .info_container {
        width: 900px;
    }

    .info_container .info_c_tepa {
        margin-top: 30px;
    }

    .info_container .info_c_tepa .info_c_b1 {
        width: 400px;
        height: 510px;
    }

    .info_container .info_c_tepa .info_c_b1 .cardi_rasim1 img {
        width: 400px !important;
    }

    .info_container .info_c_tepa .info_c_b1 .cardi_rasim2 img {
        width: 90px;
        border: 1px solid #d1cdcd;
    }

    .info_container .info_c_tepa .info_c_b1 .cardi_rasim2 img:hover {
        border: 1px solid #a19f9f;
    }

    .info_container .info_c_tepa .info_c_b2 {
        width: 470px;
        gap: 3px;
        font-size: 15px !important;
    }

    .info_container .info_c_tepa .info_c_b2 .b1 {
        gap: 10px;
    }

    .info_container .info_c_tepa .info_c_b2 .b2 {
        font-size: 25px;
    }

    .info_container .info_c_tepa .info_c_b2 .b4 {
        gap: 10px;
    }

    .info_container .info_c_tepa .info_c_b2 .b5 {
        margin-top: 10px;
        display: flex;
        gap: 43px;
    }

    .info_container .info_c_tepa .info_c_b2 .b5 div {
        gap: 5px;
    }

    .info_container .info_c_tepa .info_c_b2 .b6 {
        gap: 15px;
    }

    .info_container .info_c_tepa .info_c_b2 .b6 del {
        color: #adaaaa;
        font-size: 25px;
        font-weight: 200;
    }

    .infoselect {
        width: 270px;
        padding: 7px 8px;
    }

    .info_container .info_c_tepa .info_c_b2 .b7 {
        display: flex;
        gap: 50px;
    }

    .globalbutton {
        width: 200px;
        padding: 7px 0;
    }

    .cardinfolike {
        gap: 10px;

    }

    .info_container .info_c_tepa .info_c_b2 .b8 h3 {
        padding: 10px 1px;
    }

    .info_container .info_c_tepa .info_c_b2 .b8 p {
        background-color: #F6F7F9;
        padding: 1px;
    }

    .pastcardinfo {
        gap: 25px;
        font-size: 17px;
        margin-top: 1px;
        margin-bottom: 20px;
    }

    .xaraktercontainer {
        display: flex;
        justify-content: space-between;
        font-size: 14px !important;
    }

    .xaraktercontainer .xarakter_b1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .xaraktercontainer .xarakter_b1 .div {
        width: 430px;
        display: flex;
        align-items: center;
        background-color: #FAFAFA;
        padding: 16px 12px;
        justify-content: space-between;
    }

    .xaraktercontainer .xarakter_b1 .div p {
        width: 130px;
    }

    .xaraktercontainer .xarakter_b1 .div1 {
        width: 430px;
        padding: 10px 12px;
        justify-content: space-between;
    }

    .xaraktercontainer .xarakter_b1 .div1 p {
        width: 130px;
    }

    .opisanacontainer {
        display: flex;
    }

    .opisanacontainer .opisana_box1 {
        width: 450px;
        gap: 5px;
        font-size: 15px !important;
    }

    .opisanacontainer .opisana_box2 img {
        width: 400px;
        height: 550px;
    }

    .zakascontainer {
        width: 900px;
    }

    .zakascontent {
        width: 900px;
        padding: 15px;
        flex-direction: column;
        gap: 10px;
    }

    .namelarinputflex label {
        font-size: 18px;
    }

    .namelarinputflex .zakasinput {
        width: 420px;
    }

    .namelarinputflex1 {
        gap: 5px;
        font-size: 19px;
    }

    .namelarinputflex1 input {
        width: 16px;
    }

    .selectcar {
        padding: 7px;
    }

    .selectcar2 {
        width: 220px;
        background-color: #4295E40A;
        color: rgb(0, 0, 0);
        outline: none;

    }

    .zakascardk {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .zakascard {
        width: 900px !important;
        gap: 5px;
    }

    .basketcard_flex2 {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .namezakas1250px {
        flex-direction: row !important;
        align-items: start;
    }

    .zakasimg1250px {
        width: 150px !important;
    }

    .namez2akas1250px {
        width: 330px !important;
        font-size: 20px;
    }

    .caunterzakas1250px {
        font-size: 20px;
        gap: 3px;
    }

    #subtotal1250px {
        gap: 50px !important;
    }

    .subtotal1250px {
        font-size: 25px;
        gap: 10px !important;
    }

    .engboshtotal {
        justify-content: space-around !important;
        gap: 400px !important;
        font-size: 20px;
    }

    .textaligns {
        text-align: center;
        justify-content: center;
    }

}

/* mediaya 1000px */

@media screen and (max-width: 1000px) {

    .telefon_n {
        display: none !important;
    }
}


/* mediya 950px */


@media screen and (max-width: 950px) {
    .toggle-button {
        display: none;
    }

    .navbar {
        padding: 15px 0;
    }

    .navbar_container {
        width: 700px;
    }

    .navbar_container .navbar_containerbox_1 {
        gap: 50px;
    }

    .navbar_container .navbar_containerbox_2 {
        gap: 10px;
    }

    .navbar_container .navbar_containerbox_1 .navbar_box2 {
        gap: 30px;
        font-size: 15px;
    }

    .navbar_modal {
        width: 700px;
        height: 350px;

    }

    .navbar_modal .navbar_modal_1 {
        font-size: 15px;
    }

    .navbar_modal .navbar_modal_1 p {
        padding: 5px 0;
    }

    /* home */

    .homecontainer {
        width: 700px;
        margin: 0 auto;
    }

    .homesection_1_carusel {
        width: 700px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .homesection_1_carusel .katta_karusel {
        gap: 10px;
        align-items: start;
    }

    .homesection_1_carusel .katta_karusel img {
        width: 450px;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 {
        width: 450px;
        height: 346px;
        gap: 11px !important;
        justify-content: start;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 .fulname {
        font-size: 30px;
        font-weight: 500;
        line-height: 35px;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 .home_deskiription {
        width: 100%;
        font-size: 15px;
    }

    /* card carusel */
    .cardcontainercarusel {
        width: 700px;
    }

    .homecontainercaruselparent {
        width: 200px !important;
        height: 410px !important;
    }

    .homecontainercaruselparent .cardimg {
        width: 200px !important;
        height: 200px !important;
        margin-top: 50px;
    }

    .homecontainercaruselparent .cardapsalut {
        top: 2px !important;
    }

    .homecontainercaruselparent .cardapsalut .cardapsalut_flex {
        width: 200px;
    }

    .p_none {
        display: none;
    }

    .homecontainercaruselparent .cardapsalut .cardapsalut_flex .card_sale {
        width: 40px;
        background-color: white;
    }

    .homecontainercaruselparent .card_p_padding {
        padding: 5px 10px;
        gap: 5px;
        height: 105px;
    }

    .homecontainercaruselparent .card_p_padding p {
        font-size: 15px;
        line-height: 20px;
    }

    .homecontainercaruselparent .card_p_padding .price {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .homecontainercaruselparent .card_p_padding .price h1 {
        font-size: 20px;
    }

    .homecontainercaruselparent .card_p_padding .price del {
        font-size: 18px;
    }

    .katalog {
        width: 700px;
        margin-top: 20px;
    }

    .catalogcard {
        width: 100%;
        justify-content: space-evenly;
    }

    .katalog2 {
        gap: 10px;
    }

    .filterkatalog {
        position: absolute;
        background-color: white;
        width: 100% !important;
        top: 70px;
        z-index: 200;
    }

    .filterupflex {
        width: 300px;
    }

    .range_input {
        width: 270px !important;
        padding: 0 0 0 20px;
    }

    .filterboshi {
        font-size: 14px;
    }

    .filterboshi1 {
        gap: 0px !important;
    }



    .info_container {
        width: 700px;
    }

    .info_container .info_c_tepa {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .info_container .info_c_tepa .info_c_b2 {
        width: 400px;
        gap: 3px;
        font-size: 15px !important;
    }

    .pastcardinfo {
        gap: 90px;
        font-size: 17px;
        margin-top: 1px;
        margin-bottom: 20px;
        justify-content: center;
    }

    .xaraktercontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        font-size: 14px !important;
    }

    .xaraktercontainer .xarakter_b1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .xaraktercontainer .xarakter_b1 .div1 {
        width: 430px;
        padding: 10px 12px;
        justify-content: space-between;
    }

    .opisanacontainer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .opisanacontainer .opisana_box1 {
        width: 450px;
        gap: 5px;
        font-size: 15px !important;
    }

    .opisanacontainer .opisana_box2 img {
        width: 300px;
        height: 400px;
    }

    .zakascontainer {
        width: 700px;
    }

    .zakascontent {
        width: 700px;
        padding: 10px;
        gap: 5px;
    }

    .namelarinputflex label {
        font-size: 18px;
    }

    .namelarinputflex .zakasinput {
        width: 328px;
    }

    .namelarinputflex1 {
        gap: 5px;
        font-size: 19px;
    }

    .namelarinputflex1 input {
        width: 16px;
    }

    .selectcar {
        padding: 7px;
    }

    .zakascardk {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .zakascard {
        width: 700px !important;
        gap: 5px;
    }

    .basketcard_flex2 {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .namezakas1250px {
        flex-direction: column !important;
    }

    .zakasimg1250px {
        width: 160px !important;
    }

    .namez2akas1250px {
        width: 345px !important;
        font-size: 20px;
    }

    .caunterzakas1250px {
        font-size: 20px;
        gap: 3px;
    }

    #subtotal1250px {
        gap: 60px !important;
    }

    .subtotal1250px {
        font-size: 25px;
        gap: 10px !important;
    }

    .engboshtotal {
        justify-content: space-around !important;
        gap: 400px !important;
        font-size: 20px;
    }

    .textaligns {
        text-align: center;
        justify-content: center;
    }

    .ofermenezakas {
        font-size: 20px !important;
    }

    .zakascontainer {
        font-family: 17px !important;
    }
}

/* mediya 750px */


@media screen and (max-width: 750px) {
    .toggle-button {
        display: contents;
    }

    .navbar {
        padding: 15px 0;
    }

    .navbar_container {
        width: 500px;
    }

    .navbar_container .navbar_containerbox_1 {
        gap: 50px;
    }

    .navbar_container .navbar_containerbox_2 {
        gap: 10px;
    }

    .navbar_container .navbar_containerbox_1 .navbar_box2 {
        gap: 30px;
        font-size: 15px;
        display: none;
    }

    .navbar_box1 {
        display: none;
    }

    /* home */

    .homecontainer {
        width: 500px;
        margin: 0 auto;
    }

    .homesection_1_carusel {
        width: 500px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .homesection_1_carusel .katta_karusel img {
        width: 250px;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 {
        width: 250px;
        height: 250px;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 .fulname {
        font-size: 22px;
        line-height: 30px;
        margin-top: 10px;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 .home_deskiription {
        display: none;
    }


    .homesection_1_carusel .katta_karusel .katta_karusel_box2 .mn {
        display: flex;
        font-size: 15px;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 .price div {
        gap: 13px !important;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 .price h1 {
        font-size: 20px !important;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 .price del {
        font-size: 20px !important;
    }

    /* card carusel */
    .cardcontainercarusel {
        width: 500px;
    }

    .homecontainercaruselparent {
        width: 240px !important;
        height: 410px !important;
    }

    .homecontainercaruselparent .cardimg {
        width: 240px !important;
        height: 240px !important;
        margin-top: 50px;
    }

    .homecontainercaruselparent .cardapsalut {
        top: 2px !important;
    }

    .homecontainercaruselparent .cardapsalut .cardapsalut_flex {
        width: 100%;
    }

    .homecontainercaruselparent .cardapsalut .cardapsalut_flex .card_sale {
        width: 115px;
    }

    .homecontainercaruselparent .card_p_padding {
        padding: 5px 10px;
        gap: 5px;
        height: 105px;
    }

    .homecontainercaruselparent .card_p_padding .price {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .homecontainercaruselparent .card_p_padding .price h1 {
        font-size: 20px;
    }

    .homecontainercaruselparent .card_p_padding .price del {
        font-size: 18px;
    }

    .saidbar_xmark {
        font-size: 20px;
        color: #4295E4;
        padding: 5px;
        border: 1px solid #4295E4;
        border-radius: 10px;
        cursor: pointer;
    }

    .katalog_hover {
        display: none !important;
    }

    .katalog {
        width: 505px;
        margin-top: 10px;
    }

    .catalogcard {
        width: 100%;
        justify-content: space-evenly;
        gap: 5px;
        row-gap: 20px;
    }

    .filterupflex {
        width: 300px;
    }

    .filterboshi .filterboshi1 .buuuton {
        display: none;
    }

    .filterkatalog {
        top: 60px;
    }

    .katslogh1 {
        font-size: 25px !important;
    }

    .info_container {
        width: 500px;
    }

    .zakascontainer {
        width: 500px;
    }

    .zakascontent {
        width: 500px;
        padding: 10px;
    }

    .namelarinputflex label {
        font-size: 15px;
    }

    .namelarinputflex .zakasinput {
        width: 229px;
        padding: 10px !important;
    }

    .namelarinputflex1 {
        gap: 5px;
        font-size: 15px;
    }

    .namelarinputflex1 input {
        width: 16px;
    }

    .selectcar2 {
        width: 170px;
    }

    .selectcar {
        width: 200px;
        padding: 5px;
        font-size: 15px;
    }

    .zakascardk {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .zakascard {
        width: 500px !important;
        gap: 5px;
        padding: 10px;
    }

    .basketcard_flex2 {
        gap: 10px;
    }

    .namezakas1250px {
        flex-direction: column !important;
    }

    .zakasimg1250px {
        width: 100px !important;
    }

    .namez2akas1250px {
        width: 345px !important;
        font-size: 15px;
    }

    .caunterzakas1250px {
        font-size: 15px;
        gap: 3px;
    }

    #subtotal1250px {
        gap: 70px !important;
    }

    .subtotal1250px {
        font-size: 20px;
    }

    .engboshtotal {
        justify-content: space-around !important;
        gap: 200px !important;
        font-size: 20px;
    }

    .textaligns {
        text-align: center;
        justify-content: center;
    }

    .ofermenezakas {
        font-size: 20px !important;
    }

    .zakascontainer {
        font-family: 17px !important;
    }
}


@media screen and (max-width: 550px) {
    .navbar_container {
        width: 400px;
    }

    .navbar_container .navbar_containerbox_1 {
        gap: 0px;
    }

    .navbar_container .navbar_containerbox_2 {
        gap: 10px;
    }

    /* home */

    .homecontainer {
        width: 400px;
        margin: 0 auto;
    }

    .homesection_1_carusel {
        width: 400px;
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 15px;
    }

    .homesection_1_carusel .katta_karusel {
        display: flex !important;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .homesection_1_carusel .katta_karusel img {
        width: 375px;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 {
        width: 400px;
        height: 200px;
        padding: 0 20px;
        gap: 2px !important;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 .fulname {
        font-size: 20px;
        line-height: 30px;
        margin-top: 10px;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 .home_deskiription {
        display: none;
    }


    .homesection_1_carusel .katta_karusel .katta_karusel_box2 .mn {
        display: flex;
        font-size: 14px;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 .price div {
        gap: 15px !important;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 .price h1 {
        font-size: 25px !important;
    }

    .homecaruselbtn {
        width: 100% !important;
    }

    /* card carusel */
    .homecaruselcontainer {
        width: 400px;
        overflow: hidden;
    }

    .carusel_right {
        display: none;
    }

    .saidbar_xmark {
        font-size: 20px;
        color: #4295E4;
        padding: 5px;
        border: 1px solid #4295E4;
        border-radius: 10px;
        cursor: pointer;
    }

    .katalog {
        width: 400px;
        margin-top: 10px;
    }

    .katslogh1 {
        font-size: 20px !important;
    }

    .katalogkompcard {
        width: 400px;
        overflow: hidden;
    }

    .selectkatalog {
        width: 110px !important;
    }

    .info_container {
        width: 400px;
    }

    .info_container .info_c_tepa {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .info_container .info_c_tepa .info_c_b2 {
        width: 400px;
        gap: 3px;
        font-size: 15px !important;
    }

    .pastcardinfo {
        gap: 50px;
    }

    .xaraktercontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        font-size: 14px !important;
    }

    .xaraktercontainer .xarakter_b1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .xaraktercontainer .xarakter_b1 .div1 {
        width: 430px;
        padding: 10px 12px;
        justify-content: space-between;
    }

    .opisanacontainer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .opisanacontainer .opisana_box2 img {
        width: 300px;
        height: 400px;
    }

    .info_container .info_c_tepa .info_c_b2 .b5 {
        flex-direction: column;
        gap: 4px;
    }

    .cardinfocarusel {
        width: 400px;
        overflow: hidden;
    }

    .zakascontainer {
        width: 400px;
    }

    .zakascontent {
        width: 400px;
        padding: 0px;
        border: none;
    }

    .flexlarinputaj {
        flex-direction: column !important;
        gap: 5px !important;
    }

    .namelarinputflex label {
        font-size: 15px;
    }

    .namelarinputflex .zakasinput {
        width: 388px;
        padding: 7px !important;
    }

    .namelarinputflex1 {
        gap: 5px;
        font-size: 15px;
    }

    .namelarinputflex1 input {
        width: 15px;
    }

    .selectcar2 {
        width: 150px;
    }

    .selectcar {
        width: 170px;
        padding: 5px;
        font-size: 15px;
    }

    .zakascard {
        width: 400px !important;
        gap: 5px;
        padding: 0px;
        border: none;
        margin-bottom: 20px;
    }

    .basketcard_flex2 {
        gap: 10px;
    }

    .namezakas1250px {
        flex-direction: column !important;
    }

    .zakasimg1250px {
        width: 100px !important;
    }

    .namez2akas1250px {
        width: 200px !important;
        font-size: 15px;
    }

    .caunterzakas1250px {
        font-size: 15px;
        gap: 3px;
    }

    #subtotal1250px {
        gap: 80px !important;
    }

    .subtotal1250px {
        font-size: 20px;
    }

    .engboshtotal {
        gap: 150px !important;
        font-size: 20px;
    }

    .ofermenezakas {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 450px) {

    /* navbar */
    .navbar_container {
        width: 300px;
    }

    /* home */
    .homecontainer {
        width: 300px;
        margin: 0 auto;
    }

    .homesection_1_carusel {
        width: 300px;
    }

    .homesection_1_carusel .katta_karusel img {
        width: 300px;
        height: 300px;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 {
        width: 300px;
        height: 170px;
        padding: 0 20px;
        gap: 2px !important;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 .fulname {
        margin-top: 0px;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 .mn {
        display: none;
    }

    /* card carusel */
    .homecaruselcontainer {
        width: 300px;
        overflow: hidden;
    }

    .card_h1 {
        font-size: 20px;
    }

    .saidbar_xmark {
        font-size: 20px;
        color: #4295E4;
        padding: 5px;
        border: 1px solid #4295E4;
        border-radius: 10px;
        cursor: pointer;
    }

    .katalog {
        width: 300px;
        margin-top: 10px;
    }

    .katslogh1 {
        font-size: 20px !important;
    }

    .katalogkompcard {
        width: 300px;
    }

    .selectkatalog {
        width: 110px !important;
    }

    .filterboshi .filterboshi1 button {
        width: 150px !important;
        padding: 0px;
        gap: 3px;
    }

    .filterupflex {
        width: 270px;
    }

    .range_input {
        width: 240px !important;
        padding: 0 0 0 20px;
    }

    .info_container {
        width: 300px;
    }

    .cardinfocarusel {
        width: 300px;
        overflow: hidden;
    }

    .info_container .info_c_tepa .info_c_b1 {
        width: 300px;
        height: 400px;
        gap: 10px;
    }

    .info_container .info_c_tepa .info_c_b1 .cardi_rasim1 img {
        width: 300px;
    }

    .info_container .info_c_tepa .info_c_b1 .cardi_rasim2 img {
        width: 70px;
    }

    .info_container .info_c_tepa .info_c_b2 {
        width: 300px;
        gap: 3px;
        font-size: 14px !important;
    }

    .info_container .info_c_tepa .info_c_b2 .b1 {
        gap: 5px;
    }

    .info_container .info_c_tepa .info_c_b2 .b2 {
        font-size: 17px;
        font-weight: 500;
    }

    .info_container .info_c_tepa .info_c_b2 .b4 {
        display: flex;
        align-items: center;
        gap: 1px;
        font-size: 12px;
    }

    .info_container .info_c_tepa .info_c_b2 .b5 {
        margin-top: 1px;
        gap: 2px;
    }

    .info_container .info_c_tepa .info_c_b2 .b5 div {
        gap: 2px;
    }

    .info_container .info_c_tepa .info_c_b2 .b6 {
        gap: 10px;
        font-size: 20px;
    }

    .info_container .info_c_tepa .info_c_b2 .b6 del {
        font-size: 20px;
        font-weight: 200;
    }

    .infoselect {
        width: 300px;
    }

    .info_container .info_c_tepa .info_c_b2 .b7 {
        display: flex;
        gap: 10px;
    }

    .globalbutton {
        width: 140px;
    }

    .cardinfolike {
        gap: 10px;
    }

    .pastcardinfo {
        gap: 30px;
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .pastcardinfo a {
        padding: 14px 0;
    }

    .xaraktercontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        font-size: 14px !important;
    }

    .xaraktercontainer .xarakter_b1 {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    .xaraktercontainer .xarakter_b1 .div1 {
        width: 300px;
        padding: 4px 12px;
        justify-content: space-between;
    }

    .xaraktercontainer .xarakter_b1 .div {
        width: 300px;
        padding: 4px 12px;
        justify-content: space-between;
    }

    .opisanacontainer {
        width: 300px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .opisanacontainer .opisana_box2 img {
        width: 300px;
        height: 400px;
    }

    .opisanacontainer .opisana_box1 {
        width: 300px;
        gap: 5px;
        font-size: 14px !important;
    }

    .zakascontainer {
        width: 300px;
    }

    .zakascontent {
        width: 300px;
    }

    .flexlarinputaj {
        gap: 2px !important;
    }

    .namelarinputflex .zakasinput {
        width: 298px;
        padding: 7px !important;
    }

    .namelarinputflex1 {
        font-size: 15px;
    }

    .zakascard {
        width: 300px !important;
        gap: 1px;
        margin-bottom: 10px;
    }

    .basketcard_flex2 {
        gap: 5px;
    }

    .zakasimg1250px {
        width: 90px !important;
    }

    .namez2akas1250px {
        width: 190px !important;
        font-size: 15px;
    }

    .caunterzakas1250px {
        font-size: 15px;
        gap: 3px;
    }

    #subtotal1250px {
        gap: 1px !important;
    }

    .subtotal1250px {
        font-size: 15px;
    }

    .engboshtotal {
        gap: 10px !important;
        font-size: 18px;
    }

    .ofermenezakas {
        font-size: 18px !important;
    }
    .mndf{
        font-size: 18px !important;
    }
    .textaligns{
        font-size: 15px !important;
    }
    .bfdkjhsu{
        margin: 0 0 0 0 !important;
    }
}


@media screen and (max-width: 350px) {

    /* navbar */
    .navbar_container {
        width: 270px;
    }

    /* card carusel */
    .homecaruselcontainer {
        width: 270px;
        overflow: hidden;
    }

    /* homecarusel */
    .homesection_1_carusel {
        width: 270px;
    }

    .homesection_1_carusel .katta_karusel img {
        width: 270px;
        height: 270px;
    }

    .homesection_1_carusel .katta_karusel .katta_karusel_box2 {
        width: 270px;
        height: 170px;
        padding: 0 20px;
        gap: 2px !important;
    }

}